header {
    background-color: aqua;
}

nav {
    background-color: blue;
}

main {
    background-color: aquamarine;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

section {
    background-color: hotpink;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer {
    background-color: saddlebrown;
    padding: 2rem;
}